
.nav-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.site-title {
  width: 50%;
  height: 100%;
  align-items: center;
  margin: auto;
  font-family: var(--primary-font-family);
}

.site-title {
  animation: fade-in-bottom-right 2s;
}

.site-title a {
    color: var(--primary-font-colour);
}
.site-title {
    color: white;
}

.site-title h1 {
  animation: flash 4s infinite;
  margin: 13px;
}

nav {
  height: 6vh;
  background: var(--nav-color);
}

.nav-links {
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.nav-links a {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 1px solid white;
}

@keyframes fade-in-bottom-right{
  from{
  opacity: 0;
  transform: translate3d(100%, 100%, 0);
  }
  to{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  }
  }

  @keyframes flash{
    0%, 50%, 100%{
    opacity: 1;
    }
    25%, 75%{
    opacity: 0.5;
    }
    }