
.site-title {
  width: 100%;
  font-family: var(--primary-font-family);
}

.site-title a {
    color: rgb(245, 241, 8);
}
.site-title {
    color: white;
}

nav {
  height: 6vh;
  background: var(--nav-color);
}

.nav-links {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.nav-links a {
  font-family: var(--secondary-font-family);
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 1px solid white;
}
